body {
  box-sizing: border-box;
  background-color: bisque;
  margin: 0;
}

img {
  border-radius: 14px;
}

.container-xxl {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  padding: 10px;
  background-color: bisque;
}

.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.56);
  color: white;
}

a {
  text-emphasis: none;
  text-decoration: none;
}

.copyrights {
  position: absolute;
  bottom: 1px; /* Adjust as needed */
  width: 100%;
  text-align: center;
}
