body {
  background-image: url("./images/carolina-reaper.jpg");
  margin: 0;
}

.container-xxl {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.56);
  color: white;
}

a {
  text-emphasis: none;
  text-decoration: none;
}

.copyrights {
  position: absolute;
  bottom: 1px; /* Adjust as needed */
  width: 100%;
  text-align: center;
}
